<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GroupSuite" parallel="false">
	<test name="WBLFramework">
		
		<classes>
			<class name="com.wbl.qa.testcases.HomePageLoginTest"/>
			<class name="com.wbl.qa.testcases.LoginPageTest"/>
			<class name="com.wbl.qa.testcases.MyAccountPageTest"/>
			<class name="com.wbl.qa.testcases.ContactPageTest"/>
			
		</classes>
		

	</test>


</suite>